<!DOCTYPE html>
<html lang="en" class="h-100 w-100">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height,maximum-scale=1.0,  initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Deutscher Marktführer bei Mietminderung | Wir helfen kostenlos und professionell in allen Mietminderungsfällen</title>
    <meta name="description" content="Mietminderung bei Baulärm oder Mietminderung bei Schimmel - Wir helfen in jedem Fall!
✓ Kostenlose Anfrage ✓ Professionelle Abwicklung ✓ Zertifiziert" />
    <meta name="keywords" content="Mietminderung, Mietminderung Schimmel, Mietminderung Baulärm" />
    <meta name="author" content="Mietminderung">
    <meta name="robots" content="index, follow" />
    <META NAME="Language" CONTENT="DE">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/rzslider.min.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">


    <script type="application/ld+json">
  	{
  	  "@context": "https://schema.org/",
  	  "@type": "Review",
  	  "itemReviewed": {
  	    "@type": "Thing",
  	    "name": "Professionelle Hilfe bei Mietminderung jeglicher Art."
  	  },
  	  "author": {
  	    "@type": "Person",
  	    "name": "Felix"
  	  },
  	  "reviewRating": {
  	    "@type": "Rating",
  	    "ratingValue": "4,9",
  	    "bestRating": "5"
  	  },
  	  "publisher": {
  	    "@type": "Organization",
  	    "name": "Mietminderung"
  	  }
  	}
  	</script>





  </head>

  <body class="h-100 w-100 r" id="mietemindern" >

    <nav class="navbar navbar-expand-lg navbar-light ">
      <a class="navbar-brand" href="/" >
        <img src="img/logo.png" class="no-mobile" alt="Mietminderung Logo"/>
        <img src="img/logo_small.png" class="no-desktop" alt=""/>
      </a>

      <div class="no-desktop contact-mobile b">+(49) 30 320 049 332</div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navContent">
        <ul class="mr-auto">
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item r2 font-weight-bold">
            <a href="#prozess">Wie funktioniert es</a>
          </li>
          <li class="nav-item r2 font-weight-bold">
            <a href="../mietminderung-bei-schimmel">Magazin</a>
          </li>
          <li class="nav-item r2 font-weight-bold dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ratgeber</a>
            <div class="dropdown-menu megamenu">
              <div class="subdropdownmenu-container">
              <div class="subdropdown-bg"></div>
              <div class="subdropdown-menu">
                <h3>Mietminderung Ratgeber</h3>
                <div class="subdropdown-menuitem">
                  <a class="dropdown-item" href="https://www.mietminderung.com/mietminderung-bei-schimmel/">Mietminderung bei Schimmel</a>
                  <a class="dropdown-item" href="https://www.mietminderung.com/mietminderung-bei-baulaerm/">Mietminderung bei Baulärm</a>
                  <a class="dropdown-item" href="https://www.mietminderung.com/mietminderung-bei-heizungsausfall/">Mietminderung bei Heizungsausfall</a>
                  <a class="dropdown-item" href="https://www.mietminderung.com/mietminderung-bei-baulaerm/">Mietminderung bei Lärm</a>
                  <a class="dropdown-item" href="https://www.mietminderung.com/mietminderung-baustelle/">Mietminderung bei Baustelle <span class="b2 badge badge-primary">Neu</span></a>
                  <a class="dropdown-item" href="#">Mietminderung bei Baustelle</a>
                </div>
               </div>
              </div>
            </div>
          </li>


          <li class="nav-item r2 font-weight-bold">
            <a href="ueber-uns">Über uns</a>
          </li>
          <li class="nav-item r2 font-weight-bold fixeditem">
              <a href="#mietemindern" class="b2 btn btn-info clear-blue">Jetzt Anfrage starten</a>
            </li>
          <li class="nav-item r2 font-weight-bold no-mobile">
            <a href="#">
              <img src="img/ph-icon.png" alt=""/>
              &nbsp;+(49) 30 320 049 332
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <section class="main " ng-app="qApp" ng-controller="qCtrl">
      <div class="main-bg-img"
        ng-class="{
          'expanded': currQues.a[0].type === 'payment'
        }">
      </div>

      <div class="ctn-main">
        <div class="ctn-main-inner">
          <h1 class="ctn-main-title b clear-blue jump" style="visibility: {{currIdx==0?'visible':'hidden'}};"><img class="arr-main" src="img/arr-main.png" />Im Schnitt 5000€ sparen</h1>
          <div class="ctn-main-box">
            <div class="ctn-main-content" ng-show="currIdx == 0">
              <h1 class="main-content-title b2">Wo tritt ein Grund für<br/>Mietminderung auf?</h1>
              <h2 class="main-content-subtitle r2">100% <span class="m2 clear-blue">kostenlos</span> Anfrage stellen</h2>
              <div class="ctn-main-opts w-100">
                <div class="ctn-main-btn" ng-click="nextQuestion(currQues, currQues.a[0])">
                  <div>
                    <img src="img/q1-op1.png" />
                    <h3 class="r2 font-weight-bold no-mobile">Wohnung</h3>
                  </div>
                  <h3 class="r2 font-weight-bold no-desktop">Wohnung</h3>
                </div>
                <div class="ctn-main-btn" ng-click="nextQuestion(currQues, currQues.a[1])">
                  <div>
                    <img src="img/q1-op2.png" />
                    <h3 class="r2 font-weight-bold no-mobile">Gebäude</h3>
                  </div>
                  <h3 class="r2 font-weight-bold no-desktop">Gebäude</h3>
                </div>
                <div class="ctn-main-btn" ng-click="nextQuestion(currQues, currQues.a[2])">
                  <div>
                    <img src="img/q1-op3.png" />
                    <h3 class="r2 font-weight-bold no-mobile">Umgebung</h3>
                  </div>
                  <h3 class="r2 font-weight-bold no-desktop">Umgebung</h3>
                </div>
              </div>
             <button class="btn btn-info btn-lg clear-blue b2">Jetzt Anfrage starten</button>
            </div>

            <div class="ctn-main-content exp" ng-cloak ng-show="currIdx > 0">
              <!-- <button ng-click="goToUpload()">Jump</button> -->
              <!-- <rzslider rz-slider-model="sl.value" rz-slider-options="sl.options"></rzslider> -->

              <div class="ctn-controls">
                <div class="bar-ctn">
                  <div class="bar-prog" style="width: {{progress}}%"></div>
                  <div class="bar-bg"></div>
                </div>
              </div>
              <div class="ctn-prog b2">
                <span ng-show="!(
                    currQues.a[0].type === 'wait' || 
                    currQues.a[0].type === 'payment' || 
                    currQues.a[0].type === 'payment-success' || 
                    currQues.a[0].type === 'payment-failure' || 
                    currQues.a[0].type === 'thank'
                  )" 
                  class="float-left btn-back" 
                  ng-click="prevQuestion()"
                  >
                  <img src="img/arr-back.png"/>
                </span>
                <span class="float-right">{{progress}}%</span>
              </div>
              <h1 
                class="main-content-title" 
                ng-bind-html="currQues.q | trustedHTML"
                ng-class="{
                  'payment-title': currQues.a[0].type === 'payment',
                  'r2': currQues.a[0].type === 'payment',
                  'b2': currQues.a[0].type !== 'payment'
                }"
              ></h1>
              <!-- <h2 class="main-content-subtitle r2">&nbsp;</h2> -->

              <div class="ctn-main-opts w-100"
                ng-class="{ 
                  'jc': currQues.a[0].type == 'icon-ja' || currQues.a[0].type == 'icon-sm-2',
                  'mb-0': currQues.a[0].type === 'payment'
                }">
                <div class="ctn-main-btn"
                     ng-if="!( currQues.a[0].type === 'last'
                            || currQues.a[0].type === 'addr'
                            || currQues.a[0].type === 'rent'
                            || currQues.a[0].type === 'payment'
                            || currQues.a[0].type === 'payment-success'
                            || currQues.a[0].type === 'payment-failure'
                            || currQues.a[0].type === 'upl'
                            || currQues.a[0].type === 'wait'
                            || currQues.a[0].type === 'thank')"
                     ng-repeat="ans in currQues.a track by $index"
                     ng-click="nextQuestion(currQues, ans)"
                     ng-class="[ans.type]">

                  <div ng-if="ans.type == 'icon'">
                    <img ng-src={{ans.icon}} />
                    <h3 class="r2 font-weight-bold no-mobile">{{ans.text}}</h3>
                  </div>
                  <h3 ng-if="ans.type == 'icon'" class="r2 font-weight-bold no-desktop">{{ans.text}}</h3>

                  <div ng-if="ans.type == 'icon-sm' || ans.type == 'icon-sm-2'">
                    <img ng-src={{ans.icon}} />
                    <h3 class="r2 font-weight-bold no-mobile">{{ans.text}}</h3>
                  </div>
                  <h3 ng-if="ans.type == 'icon-sm' || ans.type == 'icon-sm-2'" class="r2 font-weight-bold no-desktop">{{ans.text}}</h3>

                  <div ng-if="ans.type == 'icon-ja'">
                    <div class="r2 font-weight-bold btn-ja">
                      <img ng-src={{ans.icon}} />{{ans.text}}
                    </div>
                  </div>

                  <div ng-if="ans.type == 'icon-nein'">
                    <div class="r2 font-weight-bold btn-nein">
                      <img ng-src={{ans.icon}} />{{ans.text}}
                    </div>
                  </div>

                  <div ng-if="ans.type == 'icon-date'">
                    <input type="date" ng-model="ans.val" class="form-control">
                    <button class="btn btn-info btn-lg clear-blue b2" ng-click="doNextQuestion(currQues, ans, $event)">OK</button>
                  </div>

                  <div ng-if="ans.type == 'icon-date-2'">
                    <div class="inp-lbl">
                      <h4 class="text-left b2">Start</h4>
                      <input type="date" ng-model="ans.start" class="form-control">
                    </div>
                    <div class="inp-lbl">
                      <h4 class="text-left b2">Ende</h4>
                      <input type="date" ng-model="ans.end" class="form-control">
                    </div>
                    <button class="btn btn-info btn-lg clear-blue b2" ng-click="doNextQuestion(currQues, ans, $event)">OK</button>
                  </div>

                  <div ng-if="ans.type == 'number'">
                    <rzslider class="custom-slider" rz-slider-model="ans.value" rz-slider-options="ans.options"></rzslider>
                    <h4 class="b2" ng-show="ans.showInfo">{{ans.valArr[ans.value - 1].key}} {{ans.valArr[ans.value - 1].value}}</h4>
                    <button class="btn btn-info btn-lg clear-blue b2" ng-click="doNextQuestion(currQues, ans, $event)">OK</button>
                  </div>

                </div>

                <div ng-if="currQues.a[0].type == 'rent'" class="rent">
                  <rzslider class="custom-slider" rz-slider-model="inpObj0.value" rz-slider-options="inpObj0.options"></rzslider>
                  <button class="btn btn-info btn-lg clear-blue b2" ng-click="goToUpload()">OK</button>
                  <!-- <button class="btn btn-info btn-lg clear-blue b2" ng-click="goToPayment()">OK</button> -->
                </div>

                <div ng-show="currQues.a[0].type == 'payment'" class="payment">
                  <div class="ctn-pay-box">
                    <h4 class="eb2">Zugeschnittene Mietminderungsvorlage + Vorgehen</h4>
                    <div class="ctn-pay-list">
                      <div class="m2 pay-list-item">
                        <img src="img/ja.png" /> Personalisierte PDF Vorlagen
                      </div>
                      <div class="m2 pay-list-item">
                        <img src="img/ja.png" /> Auskunft Minderungsquote
                      </div>
                      <div class="m2 pay-list-item">
                        <img class="gr" src="img/nein.png" /> Minderung nicht garanteirt
                      </div>
                    </div>
                    <h1 class="r2 emphasis">9, 95 €</h1>
                    <div id="ctn-pay-btn"></div>
                    <a href="javacsript:void(0)">
                      <span>Weiter Informationen</span>
                      <img src="img/icon-info.png" height="20" />
                    </a>
                  </div>
                  <div class="ctn-pay-box">
                    <h4 class="eb2">Sofortige Hilfe mit anwaltlicher Unterstützung</h4>
                    <div class="ctn-pay-list">
                      <div class="m2 pay-list-item">
                        <img src="img/ja.png" /> >90% Erfolgsquote
                      </div>
                      <div class="m2 pay-list-item">
                        <img src="img/ja.png" /> Sofortige Fallannahme
                      </div>
                      <div class="m2 pay-list-item">
                        <img src="img/ja.png" /> Sichere Durchsetzung
                      </div>
                    </div>
                    <h1 class="r2 emphasis">Anwalt</h1>             
                    <button class="btn btn-info btn-lg clear-blue b2" ng-click="goToThanks({ text: 'Anfrage stellen' })">
                      Anfrage stellen
                    </button>
                    <a href="javacsript:void(0)">
                      <span>Weiter Informationen</span>
                      <img src="img/icon-info.png" height="20" />
                    </a>
                  </div>
                </div>
                <div ng-show="currQues.a[0].type == 'payment'" class="payment pay-footer">
                    <a href="javacsript:void(0)" ng-click="goToThanks({ text: 'Keines der Optionen interessant' })">Keines der Optionen interessant</a>
                </div>

                <div ng-show="currQues.a[0].type == 'payment-success'" class="payment-response">
                  <!-- <h3>Payment was completed successfully.</h3> -->                  
                  <h3 class="res-text r2">
                    Du hast eine Zahlung in Höhe von 9,95 EUR<br/>
                    an Mietminderung.com vorgenommen
                  </h3>
                  <button class="btn btn-info btn-lg clear-blue b2" ng-click="resetQuestions()">
                    Zurück zum Start
                  </button>
                </div>

                <div ng-show="currQues.a[0].type == 'payment-failure'" class="payment-response">
                  <!-- <h3>There was an error in payment.</h3> -->
                  <h3 class="res-text r2">
                    Leider konnten der Bezahlvorgang nicht<br/>
                    abgeschlossen werden
                  </h3>
                  <button class="btn btn-info btn-lg clear-blue b2" ng-click="goToPayment()">
                    Versuchen sie es nochmal
                  </button>
                  <button class="btn btn-info btn-lg clear-blue b2" ng-click="goToThanks({ text: 'Payment Failed' })">
                    Zahlung überspringen
                  </button>
                </div>

                <div ng-if="currQues.a[0].type == 'upl'" class="last upl">
                  <form name="formUpl" ng-submit="goToNameEmail()" autocomplete="on">
                    <h4 class="text-left b2">Deine Dokumentation</h4>
                    <textarea ng-model="inpObj3.notes" class="form-control" placeholder="In diesem feld kannst du eine ausführliche dokumentation reinschreiben" required>
                    </textarea>

                    <!--<div class="img-plh no-mobile-b">
                      <div style="z-index:1;" class="position-absolute w-100 h-100 dropzone" dz="inpObj3.draggedFiles"></div>
                      <div style="z-index:0; top:20px;" class="position-absolute w-100 h-100">
                        <h4 class="b2 text-left"><img src="img/arr-upl.png"/> Lade diene Bilder hier hoch</h4>
                      </div>
                    </div> -->

                    <div class="img-plh">
                      <input type="file" file-model="inpObj3.chosenFiles" id="file" class="inputfile" multiple/>
                      <label for="file">
                        <div style="z-index:1; left:0; cursor: pointer;" dz="inpObj3.draggedFiles" class="position-absolute w-100 h-100 dropzone"></div>
                        <div style="z-index:0; left:0; top: 30px;" class="position-absolute w-100 h-100">
                          <h4 class="b2 text-left"><img src="img/arr-upl.png"/> Lade deine Bilder hier hoch</h4>
                        </div>
                      </label>
                    </div>

                    <div class="up-ctn text-left" ng-if="inpObj3.draggedFiles.length > 0">
                      <div class="card mb-2 mr-2" ng-repeat="f in inpObj3.draggedFiles track by $index" title="{{f.name}}">
                        <div class="card-body p-2">
                          <img src="img/file.png" height="30">
                          <span>&nbsp;{{f.name}}</span>
                        </div>
                      </div>
                    </div>

                    <div class="up-ctn text-left" ng-if="inpObj3.chosenFiles.length > 0">
                      <div class="card mb-2 mr-2" ng-repeat="f in inpObj3.chosenFiles track by $index" title="{{f.name}}">
                        <div class="card-body p-2">
                          <img src="img/file.png" height="30">
                          <span>&nbsp;{{f.name}}</span>
                        </div>
                      </div>
                    </div>

                    <button ng-disabled="formUpl.$invalid" type="submit" class="btn btn-info btn-lg clear-blue b2">Weiter</button>
                  </form>
                </div>

                <div ng-if="currQues.a[0].type == 'last'" class="last">
                  <form name="form" ng-submit="goToAddr()" autocomplete="on">
                    <div class="inp-lbl">
                      <h4 class="text-left b2">Name</h4>
                      <input type="text" ng-model="inpObj1.name" class="form-control" placeholder="Name" name="name" required>
                    </div>
                    <div class="inp-lbl">
                      <h4 class="text-left b2">Email</h4>
                      <input type="email" ng-model="inpObj1.email" class="form-control" placeholder="Email" name="email" required>
                    </div>
                    <div class="inp-lbl" style="margin-bottom: 20px;">
                      <h4 class="text-left b2">Telefonnummer (Für ggf. Rückfragen)</h4>
                      <input type="number" ng-model="inpObj1.ph" class="form-control" placeholder="+49 15775 332 29" name="phone" required>
                    </div>
                    <button ng-disabled="form.$invalid" type="submit" class="btn btn-info btn-lg clear-blue b2">Weiter</button>
                  </form>
                </div>

                <div ng-if="currQues.a[0].type == 'addr'" class="last addr">
                  <form name="formAddr" ng-submit="processData()" autocomplete="on">
                    <div class="inp-lbl addr-up">
                      <h4 class="text-left b2">Strasse</h4>
                      <input type="text" ng-model="inpObj2.street" class="form-control" placeholder="Strasse" name="strasse" required>
                    </div>
                    <div class="inp-lbl addr-down">
                      <div>
                        <h4 class="text-left b2">Ort</h4>
                        <input type="text" ng-model="inpObj2.city" class="form-control" placeholder="Ort" name="ort" required>
                      </div>
                      <div>
                        <h4 class="text-left b2">Postleihzahl</h4>
                        <input type="text" ng-model="inpObj2.postcode" class="form-control" placeholder="Postleihzahl" name="postleihzahl" required>
                      </div>
                    </div>
                    <button ng-disabled="formAddr.$invalid" type="submit" class="btn btn-info btn-lg clear-blue b2">Einreichen</button>
                  </form>
                </div>

                <div ng-if="currQues.a[0].type == 'wait'" class="last wait">
                  <h4 ng-hide="upProg == 100" class="b2">{{upProg}} %</h4>
                  <div ng-show="upProg == 100">
                    <div class="b-loader">
                      <div class="b-load">
                        <div class="b-bar"></div>
                      </div>
                    </div>
                    <h5 class="b2">Deine Anfrage wird verarbeitet - bitte warten</h5>
                  </div>
                </div>

                <div ng-if="currQues.a[0].type == 'thank'" class="last thank">
                  <img src="img/checkmark-icon.png" />
                  <h3 class="b2">Herzlichen Glückwunsch</h3>
                  <div class="r2">
                    Wir haben deine Anfrage und werden uns<br/>
                    innerhalb von 24h bei dir melden<br/>
                    Email nicht erhalten? Checke dein Spam Ordner
                  </div>
                </div>

              </div>
              <div>
                <button
                  class="btn btn-info btn-lg clear-blue b2"
                  ng-if="!( currQues.a[0].type === 'last'
                         || currQues.a[0].type === 'icon-date'
                         || currQues.a[0].type === 'icon-date-2'
                         || currQues.a[0].type === 'number'
                         || currQues.a[0].type === 'thank'
                         || currQues.a[0].type === 'payment'
                         || currQues.a[0].type === 'payment-success'
                         || currQues.a[0].type === 'payment-failure'
                         || currQues.a[0].type === 'rent'
                         || currQues.a[0].type === 'addr'
                         || currQues.a[0].type === 'wait'
                         || currQues.a[0].type === 'upl')"
                  ng-click="prevQuestion()">
                  Zurück
                </button>
                <button class="btn btn-info btn-lg clear-blue b2"
                        ng-if="currQues.a[0].type === 'thank'"
                        ng-click="resetQuestions()">
                  Zurück zum Start
                </button>
              </div>
            </div>

            <div class="ctn-main-footer">
              <div class="ctn-footer-col">
                <h3 class="r2 font-weight-bold">
                  <img src="img/tick.png" class="tick" />Kostenlose Anfrage
                </h3>
              </div>
              <div class="ctn-footer-col">
                <h3 class="r2 font-weight-bold">
                  <img src="img/tick.png" class="tick" />Datenschutzkonform
                </h3>
              </div>
              <div class="ctn-footer-col">
                <h3 class="r2 font-weight-bold">
                  <img src="img/tick.png" class="tick" />SSL gesichert
                </h3>
              </div>
            </div>

            <div class="ctn-main-footer2">
              <img src="img/01_batch.png" class="main-footer-left"/>

              <div class="rating-ctn">
                <img src="img/star.png" class="star"/>
                <img src="img/star.png" class="star"/>
                <img src="img/star.png" class="star"/>
                <img src="img/star.png" class="star"/>
                <img src="img/star.png" class="star"/>
                <div class="rating-text bl clear-blue">4.9 / 5</div>
                <div class="review-text">8323 zufriedene Kunden</div>
              </div>
            </div>
          </div>
        </div>

        <div class="ctn-reviews w-100">
          <div class="float-left no-mobile">
            <img class="trust" src="img/trustpilot.png"/>
          </div>
          <div class="float-right">
            <span class="bl2 news-text"><span class="diff">Bekannt aus<br/>
            <img class="news" src="img/news.png"/>
          </div>
        </div>
      </div>
    </section>

    <section class="section2 text-center" id="prozess">
      <h3 class="title clear-blue m2 font-weight-bold" >Wie funktioniert es</h3>
      <h1 class="sub-title b2">Warum Zeit verlieren,<br/>wenn es einfacher geht</h1>
      <div class="ctn-points">
        <div class="info">
          <div class="para">
            <img class="icon-img" src="img/icon-1.png" />
            <img class="border-img" src="img/border-1.png" />
            <div class="para-text">
              <h2 class="b2">Mietmangel Eingeben</h2>
              <p class="l2">Folge einfach unserem Tool mit wahrheitsgetreuen Angaben zur weiteren Prüfung. </p>
            </div>
          </div>
          <div class="para">
            <img class="icon-img" src="img/icon-2.png" />
            <img class="border-img" src="img/border-2.png" />
            <div class="para-text">
              <h2 class="b2">kostenfreie Prüfung</h2>
              <p class="l2">Wir prüfen ohne anfallende Vorkosten deine Anfrage auf eine mögliche Erfolgschance.</p>
            </div>
          </div>
          <div class="para">
            <img class="icon-img" src="img/icon-3.png" />
            <img class="border-img last" src="img/border-3.png" />
            <div class="para-text">
              <h2 class="b2">Erfolgreiche Mietminderung</h2>
              <p class="l2">Wir leiten alle weiteren Schritte ein, damit es zu einer reibungslosen Minderung kommt. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="section2-footer">
        <h2 class="main-content-subtitle r2">100% <span class="m2 clear-blue">kostenlos</span> Anfrage stellen</h2>
      <a href="#mietemindern">  <button class="btn btn-info btn-lg clear-blue b2">Jetzt risikofrei prüfen</button> </a>
      </div>
    </section>

    <section class="section3 text-center">
      <div class="section3-inner bg-white-two">
        <h3 class="title clear-blue sb2">Unser Service</h3>
        <h1 class="sub-title b2">Warum Zeit verlieren,<br/>wenn es einfacher geht</h1>
        <div class="ctn-checklist">
          <div class="checklist-left">
            <img src="img/tick.png" class="tick">
            <div class="l2">
              <h3 class="b2">
                24 Stunden Antwort
              </h3>
              Wir melden uns innerhalb von 24 Stunden auf deine hinterlegte Email
            </div>
            <br/>
            <img src="img/tick.png" class="tick">
            <div class="l2">
              <h3 class="b2">
                9532 erfolgreiche Fälle
              </h3>
              Ein Erfolgschance ist bei uns keine Ausnahme - Unsere Historie gibt uns Recht
            </div>
            <br/>
            <img src="img/tick.png" class="tick">
            <div class="l2">
              <h3 class="b2 last">
                Datenschutzsichere Verbindung
              </h3>
              Jegliche Daten werden verschlüsselt behandelt und niemals an Dritte weitergegeben.
            </div>
          </div>

          <div class="checklist-right">
            <a href="https://www.mietminderung.com/mietminderung-bei-schimmel/" target="_blank">
            <div class="check-point">
              <img src="img/checklist-img01.png" />
              <div class="text">
                <h3 class="sb2">Schimmel Zuhause?</h3>
                <p class="sb2">Abdeckung der häufigsten Fälle mit Erfolg</p>
              </div>
            </div>
          </a>
          <a href="https://www.mietminderung.com/mietminderung-bei-baulaerm/" target="_blank">
            <div class="check-point middle">
              <img src="img/checklist-img02.png" />
              <div class="text">
                <h3 class="sb2">Penetranter Baulärm? </h3>
                <p class="sb2">Unser Team prüft jeden Fall auf Erfolgschance</p>
              </div>
            </div>
          </a>
            <a href="https://www.mietminderung.com/mietminderung-bei-schimmel/" target="_blank">
            <div class="check-point">
              <img src="img/checklist-img03.png" />
              <div class="text">
                <h3 class="sb2">Und 194 Weitere</h3>
                <p class="sb2">Abdeckung von nahezu jeder Minderung</p>
              </div>
            </div>
          </a>
          </div>
        </div>
      </div>
    </section>

    <div class="spacer"></div>
    <div class="spacer no-desktop"></div>

    <section class="section4 text-center">
      <div class="section4-inner">
        <h3 class="title clear-blue sb2">Der Vergleich</h3>
        <h1 class="sub-title b2">Was sind die Vorteile<br/> unseren Service zu nutzen</h1>
        <div class="ctn-boxes">
          <div class="box left-box">
            <h1 class="bl2 title">Anwalt selber suchen</h1>
            <p class="m2 sub-title">Wartezeit und Kostenrisiko</p>
            <div class="box-points">
              <div class="box-point">
                <img src="img/bp-1.png" />
                <div class="box-text m2">Dauer<br/><span class="b2">3 - 5 Wochen</span></div>
              </div>
              <div class="box-point">
                <img src="img/bp-2.png" />
                <div class="box-text m2">Erfolgschancen<br/><span class="b2">unklar</span></div>
              </div>
              <div class="box-point">
                <img src="img/bp-3.png" />
                <div class="box-text m2">Kostenrisiko<br/><span class="b2">ungewiss</span></div>
              </div>
              <div class="box-point">
                <img src="img/bp-4.png" />
                <div class="box-text m2">Arbeitsaufwand<br/><span class="b2">hoch</span></div>
              </div>
            </div>
            <h2 class="b2" >~5000€ Vorkosten</h2>
          </div>
          <div class="box right-box">
            <img src="img/logo.png" class="no-mobile"/>
            <img src="img/logo_small.png" class="no-desktop"/>
            <p class="m2 sub-title">Kostenlos, schnell & sicher</p>
            <div class="box-points">
              <div class="box-point">
                <img src="img/bp-1.png" />
                <div class="box-text m2">Dauer<br/><span class="b2">innerhalb 24h</span></div>
              </div>
              <div class="box-point">
                <img src="img/bp-2.png" />
                <div class="box-text m2">Erfolgschancen<br/><span class="b2">>90%</span></div>
              </div>
              <div class="box-point">
                <img src="img/bp-3.png" />
                <div class="box-text m2">Kostenrisiko<br/><span class="b2">keins</span></div>
              </div>
              <div class="box-point">
                <img src="img/bp-4.png" />
                <div class="box-text m2">Arbeitsaufwand<br/><span class="b2">niedrig</span></div>
              </div>
            </div>
          <a href="#mietemindern">   <button class="btn btn-info btn-lg b2">Jetzt Anfrage starten</button></a>
          </div>
        </div>
      </div>
    </section>

    <section class="section5">
      <h1 class="title b2">Innerhalb von 4 Minuten<br/> eine Anfrage stellen</h1>
      <p class="r2">Keine Sorge - jede Anfrage über unsere Plattform ist kostenlos ohne versteckte Kosten. Teste jetzt. </p>
      <a href="#mietemindern"> <button class="btn btn-info btn-lg b2">Jetzt Anfrage starten</button><br/></a>
      <img src="img/news-grey.png" />
    </section>

    <div class="spacer"></div>

    <section class="section6">
      <div class="testi">
        <div>
          <img class="quote" src="img/quote.png" />
          <p class="m2">
            Da ich mich selber nicht mit Rechtsfragen auskenne, habe ich durch eine Empfehlung Mietminderung.com ausprobiert und wurde nicht enttäuscht.
          </p>
          <img class="tp-s" src="img/trustpilot-stars.png" />
        </div>
        <div class="ctn-testi">
          <div class="testi-box bg-lgrey"></div>
          <div class="testi-st">Stories, Mar 2019</div>
          <div class="testi-auth">
            <span class="b2">Marian Tschnoka</span>, Berlin
          </div>
        </div>
      </div>
    </section>

    <div class="spacer"></div>

    <section class="section7 text-center">
      <h1 class="title b2">Häufig gestellte Fragen unserer Nutzer</h1>
      <div class="questions">
        <div class="question m2">
          <div class="ques">
            Ist die Anfrage auf Mietminderung.com wirklich kostenlos?
            <div class="bl2 float-right">MEHR</div>
          </div>
          <div class="ans l2">
            Ja. Alle Anfragen über unsere Plattform sind kostenlos. Keine versteckten Kosten oder zu hinterlegende Kreditkarten Informationen.
          </div>
        </div>
        <div class="question m2">
          <div class="ques">
            Sind meine Daten sicher?
            <div class="bl2 float-right">MEHR</div>
          </div>
          <div class="ans l2">
           Jegliche Kundendaten, welche durch unser Tool erfasst werden, werden zu 100% vertrauensvoll behandelt und sogar verschlüsselt. Wir werden niemals deine Daten an Drittanbieter weiter geben.
          </div>
        </div>
        <div class="question m2">
          <div class="ques">
            Wie hoch ist die Erfolgschance auf eine Mietminderung?
            <div class="bl2 float-right">MEHR</div>
          </div>
          <div class="ans l2">
            Dies ist immer Fall abhängig. Eine erste Einschätzung gibt dir unser Tool, ob eine Mietminderung in Frage kommen kann. Nach einer weiteren interen Prüfung können wir dir mitteilen, ob Erfolgschancen bestehen.
          </div>
        </div>
        <div class="question m2">
          <div class="ques">
            Wer steckt hinter Mietminderung.com?
            <div class="bl2 float-right">MEHR</div>
          </div>
          <div class="ans l2">
            Wir sind ein Berliner Team aus hochmotivierten Unternehmern mit langjähriger Erfahrung im Mietrecht und versuchen den mühsamen manuellen Prozess bis zu einer Mietminderung größmöglich mit dieser Plattform zu automatisieren.
          </div>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="spacer no-desktop"></div>
      <div class="section7-2 text-center">
        <div>
          <h1 class="title b2">Jetzt Anmelden.<br/>Mache eine Anfrage innerhalb 3 Minuten.</h1>
          <h2 class="sub-title r2">Mit unserem engagierten Kundenservice sind wir für dich da! Du entscheidest die Sprache, egal ob Deutsch, Englisch, Französisch</h2>
        </div>
       <a href="#mietemindern"> <button class="btn btn-info btn-lg clear-blue m2">Einfach Ausprobieren</button></a>
        <img src="img/news-white.png" />
      </div>
    </section>

    <div class="spacer"></div>

    <section class="section8 text-center">
      <div class="inner">
        <h2 class="title r2 font-weight-bold">Wir sind 7 Tage die Woche 24 Stunden für Sie da.</h2>
        <div class="ctn-contact">
          <div>
            <img src="img/con1.png" />
            <div class="contact-text">
              <span class="clear-blue r2 font-weight-bold">Telefon</span><br/>
              <span class="b2">030 320 049 332</span>
            </div>
          </div>

          <a a href="mailto:info@mietminderung.com?subject=Anfrage%20Mietminderung.com" target="_blank" >
          <div>
            <img src="img/con2.png" />
            <div class="contact-text">
              <span class="clear-blue r2 font-weight-bold">Email</span><br/>
              <span class="b2">info@mietminderung.com</span>
            </div>
          </div>
          </a>


          <div>
            <img src="img/con3.png" />
            <div class="contact-text">
              <span class="clear-blue r2 font-weight-bold">Chat</span><br/>
              <span class="b2">Live Support</span>
            </div>
          </div>

        </div>
      </div>
    </section>

    <div class="spacer"></div>

    <section class="section9">
      <div class="inner">
        <div class="footer-column col-main">
          <h2 class="footer-title bl2">MIETMINDERUNG.COM</h2>
          <p class="r2 ">Mit unserem engagierten Kundenservice sind wir für dich 24h da! Du entscheidest die Sprache, egal ob Deutsch, Englisch, Französisch</p>
          <div class="icon-ctn">
            <a href="https://www.facebook.com/Mietminderungcom/"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/mietminderung"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/mietminderung/"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com/mietminderung/"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/mietminderung/"><img src="img/gd.png"/></a>
          </div>
        </div>
        <div class="footer-column col-sub">
          <h2 class="footer-sub-title bl2">Kontakt</h2></a>
      <a href="../mietminderung-bei-schimmel/">    <p class="r2 font-weight-bold">Magazin</p>
       <a href="https://www.linkedin.com/company/mietminderung/"><p class="r2 font-weight-bold">Linkedin</p></a>
        <a href="https://www.instagram.com/mietminderung/">  <p class="r2 font-weight-bold">Instagram</p></a>
        <a href="mailto:info@mietminderung.com">  <p class="r2 font-weight-bold">Email</p></a>
        </div>
        <div class="footer-column col-sub">
          <h2 class="footer-sub-title bl2">Unternehmen</h2>
        <a href="ueber-uns">  <p class="r2 font-weight-bold">Über uns</p> </a>
        <a href="https://www.linkedin.com/company/mietminderung/">  <p class="r2 font-weight-bold">Linkedin</p></a>
        <a href="https://www.mietminderung.com/impressum/">  <p class="r2 font-weight-bold">Datenschutz</p></a>
				<a href="https://www.mietminderung.com/impressum/">  <p class="r2 font-weight-bold">Impressum</p></a>
        </div>
        <div class="footer-column col-sub">
          <h2 class="footer-sub-title bl2">Blog</h2>
        <a href="../mietminderung-bei-schimmel/">  <p class="r2 font-weight-bold">Bei Schimmelbefall</p></a>
        <a href="../mietminderung-bei-heizungsausfall/">  <p class="r2 font-weight-bold">Bei Heizungsausfall</p></a>
        <a href="../mietminderung-bei-schimmel/">  <p class="r2 font-weight-bold">Bei Wasserschaden</p></a>
        <a href="../mietminderung-bei-baulaerm/">  <p class="r2 font-weight-bold">Bei Baulärm</p></a>
        </div>
      </div>
    </section>

    <section class="end-footer text-center m2">
      Mietminderung UG (haftungsbeschränkt) 2019 ©
    </section>









    <!-- Start of Async Drift Code -->
    <script>
    "use strict";

    function LoadDriftWidget() {
      var t = window.driftt = window.drift = window.driftt || [];
      if (!t.init) {
        if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
        t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
        t.factory = function(e) {
          return function() {
            var n = Array.prototype.slice.call(arguments);
            return n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function(e) {
          t[e] = t.factory(e);
        }), t.load = function(t) {
          var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
          var i = document.getElementsByTagName("script")[0];
          i.parentNode.insertBefore(o, i);
        };
      }
      drift.SNIPPET_VERSION = '0.3.1';
      drift.load('ruuy4irykhsi');
    };
    </script>
    <!-- End of Async Drift Code -->






    <script>

    setTimeout(function(){
         LoadDriftWidget()
    }, 5000)

    </script>

    <!-- End of Async Drift Code -->










    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37771269-9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-37771269-9');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->



    <script>
    (function(i,s,o,g,r,a,m){
      i['GoogleAnalyticsObject']=r;
      i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},
      i[r].l=1*new Date();
      a=s.createElement(o),m=s.getElementsByTagName(o)[0];
      a.async=1;
      a.src=g;
      m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-139282671-1', 'auto');
    ga('send', 'pageview');
    </script>



    <!-- ANFANG Hotjar Tracking Code for https://www.mietminderung.com/ -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1326078,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <!-- ENDE Hotjar Tracking Code for https://www.mietminderung.com/ -->


    <!-- <button class="down-btn">Down</button> -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/rzslider.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/ql3.js"></script>
    <script src="js/ql4.js"></script>
    <script src="js/ql5.js"></script>
    <script src="js/ql6.js"></script>
    <script src="js/ql7.js"></script>
    <script src="js/ql8.js"></script>
    <script src="js/ql9.js"></script>
    <script src="js/ql10.js"></script>
    <script src="js/ql11.js"></script>
    <script src="js/ql12.js"></script>
    <script src="js/ql13.js"></script>
    <script src="js/ql14.js"></script>
    <script src="js/ql15.js"></script>
    <script src="js/ql16.js"></script>
    <script src="js/ql17.js"></script>
    <script src="js/ql18.js"></script>
    <script src="js/ql19.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=Ae1xNztotAOoYXvoCR2WslClXoWLW9oQLW8baN6kssV9d74Wpu7BRzCsIcLh_oS2gdXGinGp1UFgQqU1&currency=EUR"></script> <!-- Real business account from payment@bellfargo.com -->
    <!-- <script src="https://www.paypal.com/sdk/js?client-id=AcIvT3DwqDnBoMn6AZ6OBhh-JnMPhJbyQV50okBlfl92HrTHd0fBuc1qaDiNx0J0PEiNcHxN8DfSelk9&currency=EUR"></script> --> <!-- Sandbox Test from payment@bellfargo.com -->
    <!-- <script src="https://www.paypal.com/sdk/js?client-id=AVHLGKmvdNm7qtO1wXqQ45OI78geuFhZxIE6Xtna99DkQvQyRSIIhT3kN5uXf18L6Ik3h8M_9vSaU63L&currency=EUR"></script> --> <!-- Sandbox Test from anurag.131092@gmail.com -->    
    <!-- <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=EUR"></script> -->
    <!-- <script src="js/ql20.js"></script> -->
  </body>
</html>
